@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  font-family: "Poppins", serif;;
}
:root {
  --theme-color: #67a357;
  --font-color: #FFFFFF;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}



.hero-slider {
  width: 100vw;  
  overflow: hidden;
}

nav{
  background-color: var(--theme-color);

}
.category{
  background-color: var(--theme-color);

}

nav a {
  color: var(--font-color) !important;
}

.search-bar{
  color: var(--theme-color) !important;
  background: #c3e1bb !important;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);  
  color: white;
  border: none; 
  padding: 15px 20px; 
  cursor: pointer;
  z-index: 1000;
  transition: 0.3s;
  border-radius: 50%;
  opacity: 0.7;  
}

.custom-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;  
}


.slick-prev {
  left: 20px !important;
  z-index: 1000;
}

.slick-next {
  right: 20px !important;
  z-index: 1000;
}


.hero-slider {
  position: relative; 
  width: 100vw;
  overflow: hidden;
}

input.search{
  width: 600px;
}

@media (max-width: 576px) {
  .container-category .row{
    padding-left: 2.5rem;
  }

  input.search{
    width: 250px;
  }
  
}

@media (min-width: 1200px) {
  input.search{
    width: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1028px) {
  input.search{
    width: 400px;
  }

  .navbar-expand-lg .navbar-collapse {
        font-size: 11px;
    }
}

@media (min-width: 1028px) and (max-width: 1208px) {
  input.search{
    width: 400px;
  }

  .navbar-expand-lg .navbar-collapse {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
  input.search{
    width: 400px;
  }
}

@media (max-width: 767px) {
  .searching{
    background-color: var(--theme-color);
    max-width: 100%;
  }

  .login_Form{
    width: 290px !important;
  }

}

footer{
  background-color: var(--theme-color);

}

.login_Form{
  width: 400px;
}

.hover-shadow {
  transition: box-shadow 0.3s ease-in-out;
}

.hover-shadow:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5) !important;
}